<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NAME</th>
      <th>REFERENCE</th>
      <th>COUNT</th>
      <th>CLUSTER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Glucosa, sangre</td>
      <td>100092</td>
      <td>27724</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Potasio, sangre</td>
      <td>100160</td>
      <td>27541</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Sodio, sangre</td>
      <td>100190</td>
      <td>27244</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hematocrito sangre</td>
      <td>100100</td>
      <td>26379</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Leucocitos recuento</td>
      <td>100119</td>
      <td>19588</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Linfocitos absoluto analizado</td>
      <td>100122</td>
      <td>19574</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Linfocitos % analizado</td>
      <td>100120</td>
      <td>19573</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>VCM</td>
      <td>100207</td>
      <td>19514</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Plaquetas recuento</td>
      <td>100159</td>
      <td>19514</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>RDW Reed Distribut Width</td>
      <td>100180</td>
      <td>19514</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Hematias recuento</td>
      <td>100098</td>
      <td>19514</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>CCMH concentraciion corpuscal media</td>
      <td>100041</td>
      <td>19513</td>
      <td>2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>HCM hb corpusclar media</td>
      <td>100095</td>
      <td>19513</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>VPM Volumen Plaquetario Medio</td>
      <td>100214</td>
      <td>19513</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Hemoglobina concentracion</td>
      <td>100102</td>
      <td>19513</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Eosinofilos % analizado</td>
      <td>100074</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Neutrofilos % analizado</td>
      <td>100140</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Basofilos % analizado</td>
      <td>100020</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Eosinofilos absolutos analizado</td>
      <td>100076</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Basofilos absolutos analizado</td>
      <td>100022</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Neutrofilos absoluto analizado</td>
      <td>100143</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Monocitos % analizado</td>
      <td>100136</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Monocitos absoluto analizado</td>
      <td>100138</td>
      <td>19499</td>
      <td>2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Creatinina sangre</td>
      <td>100064</td>
      <td>19404</td>
      <td>2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>LUC % analizado</td>
      <td>100126</td>
      <td>19289</td>
      <td>2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>LUC absoluto analizado</td>
      <td>100127</td>
      <td>19289</td>
      <td>2</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Filtrado glomerular calculado</td>
      <td>100086</td>
      <td>12766</td>
      <td>3</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Tiempo de protombina segundos</td>
      <td>100195</td>
      <td>11440</td>
      <td>4</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Tiempo de protombina %</td>
      <td>100196</td>
      <td>11425</td>
      <td>4</td>
    </tr>
    <tr>
      <th>29</th>
      <td>PCR</td>
      <td>100156</td>
      <td>11194</td>
      <td>4</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Tiempo de tromboplastina parcial</td>
      <td>100197</td>
      <td>10205</td>
      <td>5</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Bilirrubina adulto total</td>
      <td>100034</td>
      <td>9889</td>
      <td>5</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Cloruro, sangre</td>
      <td>100055</td>
      <td>9879</td>
      <td>5</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ASA aspartat aminotransferasa</td>
      <td>100019</td>
      <td>9846</td>
      <td>5</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Gamma glutamil transpeptidasa</td>
      <td>100090</td>
      <td>9819</td>
      <td>5</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Fosfatasa alcalina</td>
      <td>100087</td>
      <td>9779</td>
      <td>5</td>
    </tr>
    <tr>
      <th>36</th>
      <td>ALAT Alanin aminotransferasa</td>
      <td>100005</td>
      <td>9742</td>
      <td>5</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Lactato, sangre</td>
      <td>100116</td>
      <td>9278</td>
      <td>5</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Calcio</td>
      <td>100037</td>
      <td>9271</td>
      <td>5</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Magnesio</td>
      <td>100131</td>
      <td>8924</td>
      <td>5</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Calcio ionizado sangre arterial</td>
      <td>100039</td>
      <td>8920</td>
      <td>5</td>
    </tr>
    <tr>
      <th>41</th>
      <td>pCO2 sangre arterial</td>
      <td>100153</td>
      <td>8827</td>
      <td>5</td>
    </tr>
    <tr>
      <th>42</th>
      <td>pO2 sangre arterial</td>
      <td>100155</td>
      <td>8791</td>
      <td>5</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Exceso de base sangre arterial</td>
      <td>100079</td>
      <td>8782</td>
      <td>5</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Bicarbonato actual, sangre arterial</td>
      <td>100026</td>
      <td>8782</td>
      <td>5</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Hemoglobina sangre</td>
      <td>100101</td>
      <td>7615</td>
      <td>6</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Carboxihemoglobina</td>
      <td>100040</td>
      <td>7555</td>
      <td>6</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Metahemoglobina, sangre</td>
      <td>100132</td>
      <td>7554</td>
      <td>6</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Proteinas totales</td>
      <td>100171</td>
      <td>7492</td>
      <td>6</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Bilirrubina directa</td>
      <td>100029</td>
      <td>6787</td>
      <td>7</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Saturacion de oxigeno %  sangre arterial</td>
      <td>100188</td>
      <td>6447</td>
      <td>7</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Lactato LDH</td>
      <td>100117</td>
      <td>6433</td>
      <td>7</td>
    </tr>
    <tr>
      <th>52</th>
      <td>CO2 total sangre arterial</td>
      <td>100057</td>
      <td>5518</td>
      <td>8</td>
    </tr>
    <tr>
      <th>53</th>
      <td>PDW Platelet Distribut Width</td>
      <td>100158</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Macrocitos</td>
      <td>100128</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Microcitos</td>
      <td>100129</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>56</th>
      <td>HDW hb distributiva media</td>
      <td>100096</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Hematias hipocromas %</td>
      <td>100099</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>58</th>
      <td>CHCM concentracion hemoglobina</td>
      <td>100052</td>
      <td>4982</td>
      <td>8</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Dimero D cuantitativo serum</td>
      <td>100072</td>
      <td>3714</td>
      <td>9</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Albumina</td>
      <td>100006</td>
      <td>3243</td>
      <td>9</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Bilirrubina indirecta</td>
      <td>100032</td>
      <td>3115</td>
      <td>9</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Troponina alta sensibilidad</td>
      <td>100205</td>
      <td>3024</td>
      <td>9</td>
    </tr>
    <tr>
      <th>63</th>
      <td>BUN</td>
      <td>100035</td>
      <td>2766</td>
      <td>9</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Ferritina</td>
      <td>100084</td>
      <td>2523</td>
      <td>9</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Calcio ionizado sangre venosa</td>
      <td>100038</td>
      <td>2512</td>
      <td>9</td>
    </tr>
    <tr>
      <th>66</th>
      <td>pCO2 sangre venosa</td>
      <td>100152</td>
      <td>2497</td>
      <td>9</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Exceso de base sangre venosa</td>
      <td>100078</td>
      <td>2496</td>
      <td>9</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Bicarbonato actual, sangre venosa</td>
      <td>100025</td>
      <td>2496</td>
      <td>9</td>
    </tr>
    <tr>
      <th>69</th>
      <td>pO2 sangre venosa</td>
      <td>100154</td>
      <td>2483</td>
      <td>9</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Trigliceridos</td>
      <td>100203</td>
      <td>2449</td>
      <td>9</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Saturacion de oxigeno %  sangre venosa</td>
      <td>100187</td>
      <td>2393</td>
      <td>9</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Fosforo, plasma</td>
      <td>100088</td>
      <td>2384</td>
      <td>9</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Procalcitonina plasma</td>
      <td>100165</td>
      <td>2066</td>
      <td>9</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Fibrinogeno</td>
      <td>100085</td>
      <td>2013</td>
      <td>9</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Monocitos % manual</td>
      <td>100137</td>
      <td>1998</td>
      <td>9</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Linfocitos absoluto manual</td>
      <td>100123</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Monocitos absoluto manual</td>
      <td>100139</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Eosinofilos % manual</td>
      <td>100075</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Neutrofilos % manual no segmentado</td>
      <td>100141</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Basofilos % manual</td>
      <td>100021</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Neutrofilos % manual segmentado</td>
      <td>100142</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Eosinofilos absolutos manual</td>
      <td>100077</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Basofilos absolutos manual</td>
      <td>100023</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Linfocitos % manual</td>
      <td>100121</td>
      <td>1997</td>
      <td>9</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Neutrofilos absoluto manual</td>
      <td>100144</td>
      <td>1953</td>
      <td>9</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Densidad orina</td>
      <td>100071</td>
      <td>1938</td>
      <td>9</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Colesterol total</td>
      <td>100061</td>
      <td>1919</td>
      <td>9</td>
    </tr>
    <tr>
      <th>88</th>
      <td>TCO2 venosa</td>
      <td>100193</td>
      <td>1851</td>
      <td>9</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Bicarbonato estandard, sangre venosa</td>
      <td>100028</td>
      <td>1850</td>
      <td>9</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Amilasa</td>
      <td>100008</td>
      <td>1790</td>
      <td>9</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Lipasa</td>
      <td>100124</td>
      <td>1693</td>
      <td>9</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Creatinina quinasa</td>
      <td>100068</td>
      <td>1401</td>
      <td>9</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Acido urico plasma</td>
      <td>100003</td>
      <td>1234</td>
      <td>9</td>
    </tr>
    <tr>
      <th>94</th>
      <td>TCO2 arterial</td>
      <td>100192</td>
      <td>1099</td>
      <td>9</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Bicarbonato estandard, sangre arterial</td>
      <td>100027</td>
      <td>1099</td>
      <td>9</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Oxihemoglobina fraccion sangre</td>
      <td>100151</td>
      <td>1065</td>
      <td>9</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Hierro</td>
      <td>100107</td>
      <td>880</td>
      <td>9</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Zinc</td>
      <td>100216</td>
      <td>686</td>
      <td>9</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Transferrina</td>
      <td>100201</td>
      <td>644</td>
      <td>9</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Saturación transferrina, serum</td>
      <td>100202</td>
      <td>640</td>
      <td>9</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Prealbumina serum</td>
      <td>100162</td>
      <td>557</td>
      <td>9</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Tirotropina serum</td>
      <td>100199</td>
      <td>546</td>
      <td>9</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Coeficiente proteinas/Creatinina</td>
      <td>100070</td>
      <td>430</td>
      <td>9</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Tacròlimus FK506</td>
      <td>100191</td>
      <td>428</td>
      <td>9</td>
    </tr>
    <tr>
      <th>105</th>
      <td>CKMB creatin quinasa MB</td>
      <td>100053</td>
      <td>416</td>
      <td>9</td>
    </tr>
    <tr>
      <th>106</th>
      <td>VSG velocidad sedimentacion golbular</td>
      <td>100215</td>
      <td>394</td>
      <td>9</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Osmolalidad</td>
      <td>100149</td>
      <td>385</td>
      <td>9</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Tiroxina libre serum</td>
      <td>100200</td>
      <td>376</td>
      <td>9</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Vitamina B12</td>
      <td>100209</td>
      <td>374</td>
      <td>9</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Colesterol HDL</td>
      <td>100062</td>
      <td>371</td>
      <td>9</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Colesterol LDL</td>
      <td>100059</td>
      <td>362</td>
      <td>9</td>
    </tr>
    <tr>
      <th>112</th>
      <td>NT-proBNP plasma</td>
      <td>100145</td>
      <td>358</td>
      <td>9</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Acido folico serum</td>
      <td>100002</td>
      <td>321</td>
      <td>9</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Reticulocitos % alta fluor</td>
      <td>100182</td>
      <td>301</td>
      <td>9</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Reticulocitos % manual</td>
      <td>100183</td>
      <td>301</td>
      <td>9</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Reticulocitos % baja fluor</td>
      <td>100184</td>
      <td>301</td>
      <td>9</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Reticulocitos % media fluor</td>
      <td>100185</td>
      <td>301</td>
      <td>9</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Reticulocitos absoluta manual</td>
      <td>100186</td>
      <td>301</td>
      <td>9</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Receptor soluble transfe</td>
      <td>100181</td>
      <td>289</td>
      <td>9</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Osmolalidad urinaria</td>
      <td>100150</td>
      <td>271</td>
      <td>9</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Hemoglobina concentracion retic</td>
      <td>100103</td>
      <td>259</td>
      <td>9</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Proteinas orina reciente</td>
      <td>100170</td>
      <td>254</td>
      <td>9</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Anion Gap sangre venosa</td>
      <td>100009</td>
      <td>250</td>
      <td>9</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Haptoglobina serum</td>
      <td>100094</td>
      <td>247</td>
      <td>9</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Creatinina orina</td>
      <td>100067</td>
      <td>237</td>
      <td>9</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Volumen minuto</td>
      <td>100213</td>
      <td>234</td>
      <td>9</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Creatinina orina 24h</td>
      <td>100065</td>
      <td>208</td>
      <td>9</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Creatinina aclaramiento</td>
      <td>100066</td>
      <td>191</td>
      <td>9</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Apolipoproteina B</td>
      <td>100018</td>
      <td>191</td>
      <td>9</td>
    </tr>
    <tr>
      <th>130</th>
      <td>CD3 linfocitos  % sangre total</td>
      <td>100042</td>
      <td>186</td>
      <td>9</td>
    </tr>
    <tr>
      <th>131</th>
      <td>CD3 valor absoluto sangre total</td>
      <td>100043</td>
      <td>186</td>
      <td>9</td>
    </tr>
    <tr>
      <th>132</th>
      <td>CD4 linfocitos % sangre total</td>
      <td>100044</td>
      <td>186</td>
      <td>9</td>
    </tr>
    <tr>
      <th>133</th>
      <td>CD8 linfocitos % sangre total</td>
      <td>100047</td>
      <td>186</td>
      <td>9</td>
    </tr>
    <tr>
      <th>134</th>
      <td>CD4 valor absoluto sangre total</td>
      <td>100045</td>
      <td>185</td>
      <td>9</td>
    </tr>
    <tr>
      <th>135</th>
      <td>CD8 valor absoluto sangre total</td>
      <td>100046</td>
      <td>185</td>
      <td>9</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Proteinas orina 24h</td>
      <td>100169</td>
      <td>185</td>
      <td>9</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Proteinas beta glob % serum</td>
      <td>100174</td>
      <td>171</td>
      <td>9</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Proteinas gamma glob % serum</td>
      <td>100175</td>
      <td>171</td>
      <td>9</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Albumina proteina % serum</td>
      <td>100007</td>
      <td>171</td>
      <td>9</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Proteinas Alfa 1 glob % serum</td>
      <td>100172</td>
      <td>171</td>
      <td>9</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Proteinas Alfa 2 glob % serum</td>
      <td>100173</td>
      <td>171</td>
      <td>9</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Cociente  microalbumina/creatinina</td>
      <td>100058</td>
      <td>123</td>
      <td>9</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Potasio orina 24h</td>
      <td>100161</td>
      <td>112</td>
      <td>9</td>
    </tr>
    <tr>
      <th>144</th>
      <td>PTH parathormona serum</td>
      <td>100179</td>
      <td>112</td>
      <td>9</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Vitamina D3 25 hidroxi serum</td>
      <td>100212</td>
      <td>108</td>
      <td>9</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Anion Gap sangre arterial</td>
      <td>100010</td>
      <td>97</td>
      <td>9</td>
    </tr>
    <tr>
      <th>147</th>
      <td>CEA antigeno carcinoembrionario</td>
      <td>100048</td>
      <td>94</td>
      <td>9</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Antigeno CA-19.9</td>
      <td>100015</td>
      <td>79</td>
      <td>9</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Microalbuminuria</td>
      <td>100134</td>
      <td>76</td>
      <td>9</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Factor C3 complemento</td>
      <td>100081</td>
      <td>75</td>
      <td>9</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Factor C4 complemento</td>
      <td>100082</td>
      <td>75</td>
      <td>9</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Homocisteina basal</td>
      <td>100108</td>
      <td>70</td>
      <td>9</td>
    </tr>
    <tr>
      <th>153</th>
      <td>IgG dosificacion serum</td>
      <td>100111</td>
      <td>70</td>
      <td>9</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Immunoglobulina IgM serum</td>
      <td>100113</td>
      <td>64</td>
      <td>9</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Antigeno CA-125</td>
      <td>100013</td>
      <td>62</td>
      <td>9</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Immunoglobulina IgA serum</td>
      <td>100112</td>
      <td>59</td>
      <td>9</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Vitamina D3 1,25 hidroxi serum</td>
      <td>100211</td>
      <td>57</td>
      <td>9</td>
    </tr>
    <tr>
      <th>158</th>
      <td>AFP Alfafetoproteina</td>
      <td>100004</td>
      <td>50</td>
      <td>9</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Antigeno CA-153</td>
      <td>100014</td>
      <td>49</td>
      <td>9</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Enolasa neuronal especifica</td>
      <td>100073</td>
      <td>47</td>
      <td>9</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Microalbumina orina reciente</td>
      <td>100133</td>
      <td>47</td>
      <td>9</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Pro-gastrin releasing peptide</td>
      <td>100166</td>
      <td>38</td>
      <td>9</td>
    </tr>
    <tr>
      <th>163</th>
      <td>CH50</td>
      <td>100051</td>
      <td>38</td>
      <td>9</td>
    </tr>
    <tr>
      <th>164</th>
      <td>SCC</td>
      <td>100189</td>
      <td>38</td>
      <td>9</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Antigeno prostatico especifico</td>
      <td>100017</td>
      <td>36</td>
      <td>9</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Microglobulina beta 2</td>
      <td>100135</td>
      <td>35</td>
      <td>9</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Anticuerpos antiperoxidasa</td>
      <td>100012</td>
      <td>29</td>
      <td>9</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Cortisol serum</td>
      <td>100063</td>
      <td>27</td>
      <td>9</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Triodetironina serum</td>
      <td>100204</td>
      <td>26</td>
      <td>9</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Hemoglobina glicada sangre total</td>
      <td>100104</td>
      <td>26</td>
      <td>9</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Proteina S libre plasma</td>
      <td>100176</td>
      <td>22</td>
      <td>9</td>
    </tr>
    <tr>
      <th>172</th>
      <td>bhCG Gonadotropina corionica</td>
      <td>100024</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Procalcitonina serum</td>
      <td>100164</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>174</th>
      <td>KAPPA cadenas ligeras libre</td>
      <td>100115</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Proteina C funcional plasma</td>
      <td>100168</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Cadenas ligeras Lambda libre</td>
      <td>100036</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Magnesio orina reciente</td>
      <td>100130</td>
      <td>18</td>
      <td>9</td>
    </tr>
    <tr>
      <th>178</th>
      <td>IgG antibeta 2 glicoproteina</td>
      <td>100110</td>
      <td>16</td>
      <td>9</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Ac IgM antibeta 2 glicoproteico</td>
      <td>100001</td>
      <td>15</td>
      <td>9</td>
    </tr>
    <tr>
      <th>180</th>
      <td>IGE total serum</td>
      <td>100109</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Anticuerpos antiDNA bicatenario</td>
      <td>100011</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Celulas NK</td>
      <td>100049</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Celulas NK totales</td>
      <td>100050</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Coeficiente calcio/creatinina</td>
      <td>100069</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>185</th>
      <td>PRL prolactina serum</td>
      <td>100163</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Excrecion calcio</td>
      <td>100080</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Vitamina B1</td>
      <td>100208</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>188</th>
      <td>PSA libre</td>
      <td>100178</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Fosforo orina 24h</td>
      <td>100089</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Globulina ligado hormonas</td>
      <td>100091</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Proteina S100</td>
      <td>100177</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Vitamina B6</td>
      <td>100210</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Glucosa orina 24h</td>
      <td>100093</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Factor reumatoide serum</td>
      <td>100083</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>195</th>
      <td>PCR ultrasensible</td>
      <td>100157</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Testosterona directa serum</td>
      <td>100194</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Hematias sedimiento</td>
      <td>100097</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Urea</td>
      <td>100206</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>199</th>
      <td>LPA</td>
      <td>100125</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Oncoproteina HER-2 NEU serum</td>
      <td>100148</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Tiroglobulina serum</td>
      <td>100198</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Leucocitos sedimiento</td>
      <td>100118</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Insulina IRI serum</td>
      <td>100114</td>
      <td>1</td>
      <td>9</td>
    </tr>
  </tbody>
</table>