<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NAME</th>
      <th>REFERENCE</th>
      <th>COUNT</th>
      <th>CLUSTER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Saturación de oxígeno por pulsioximetría</td>
      <td>2000007</td>
      <td>136718</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Presión arterial no invasiva sistólica</td>
      <td>2000034</td>
      <td>114139</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Presión arterial no invasiva diastólica</td>
      <td>2000036</td>
      <td>113970</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Temperatura axilar</td>
      <td>2000052</td>
      <td>107122</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Frecuencia cardíaca por electrocardiografía</td>
      <td>2000025</td>
      <td>81584</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Frecuencia cardíaca por oscilometría</td>
      <td>2000022</td>
      <td>81474</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Frecuencia respiratoria por impedancia</td>
      <td>2000003</td>
      <td>65767</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Presión arterial invasiva sistólica</td>
      <td>2000043</td>
      <td>43077</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Presión arterial invasiva diastólica</td>
      <td>2000045</td>
      <td>42797</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Presión arterial invasiva media</td>
      <td>2000044</td>
      <td>42433</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Dispositivo para la administración de oxígeno en respiración espontánea</td>
      <td>2400029</td>
      <td>37291</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Frecuencia respiratoria por inspección</td>
      <td>2000001</td>
      <td>31102</td>
      <td>7</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Ritmo cardíaco</td>
      <td>2000073</td>
      <td>30039</td>
      <td>7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Flujo de oxígeno en respiración espontána</td>
      <td>2400033</td>
      <td>22800</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Posición del paciente</td>
      <td>2100002</td>
      <td>22172</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Presión arterial no invasiva media</td>
      <td>2000035</td>
      <td>20231</td>
      <td>8</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Modalidad de acceso a la vía aérea para respiración</td>
      <td>2400013</td>
      <td>19488</td>
      <td>8</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Posición de la cabecera de la cama respecto a la horizontal</td>
      <td>2100001</td>
      <td>18986</td>
      <td>8</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Origen de la muestra sanguinea</td>
      <td>2200000</td>
      <td>16739</td>
      <td>8</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Escala de coma de Glasgow</td>
      <td>2100021</td>
      <td>15825</td>
      <td>8</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Volumen  minuto espiratorio en VM invasiva</td>
      <td>2400168</td>
      <td>14488</td>
      <td>8</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Presión positiva inspiratoria pico en VM invasiva</td>
      <td>2400169</td>
      <td>14294</td>
      <td>8</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Fracción inspiratoria de oxígeno en respiración espontánea</td>
      <td>2000078</td>
      <td>13356</td>
      <td>8</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Volumen corriente espiratorio en VM invasiva</td>
      <td>2400167</td>
      <td>11962</td>
      <td>8</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Frecuencia respiratoria actual en VM invasiva</td>
      <td>2400164</td>
      <td>11944</td>
      <td>8</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Fracción inspiratoria de oxígeno en VM invasiva</td>
      <td>2400137</td>
      <td>11172</td>
      <td>8</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Presión venosa central invasiva media</td>
      <td>2000050</td>
      <td>10059</td>
      <td>8</td>
    </tr>
    <tr>
      <th>27</th>
      <td>PEEP actual medida en VM invasiva</td>
      <td>2400172</td>
      <td>8329</td>
      <td>8</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Diámetro de la pupila izquierda</td>
      <td>2100008</td>
      <td>7876</td>
      <td>8</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Reflejo fotomotor de la pupila derecha</td>
      <td>2100007</td>
      <td>7851</td>
      <td>8</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Diámetro de la pupila derecha</td>
      <td>2100006</td>
      <td>7786</td>
      <td>8</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Nivel de sedación según escala de RASS</td>
      <td>2100017</td>
      <td>7754</td>
      <td>8</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Tipo de tubo/cánula endotraqueal/endobronquial</td>
      <td>2400016</td>
      <td>7620</td>
      <td>8</td>
    </tr>
    <tr>
      <th>33</th>
      <td>PEEP pautada en VM invasiva</td>
      <td>2400162</td>
      <td>7517</td>
      <td>8</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Modelo de ventilador mecánico invasivo</td>
      <td>2400135</td>
      <td>7418</td>
      <td>8</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Presión positiva inspiratoria meseta en VM invasiva</td>
      <td>2400170</td>
      <td>7266</td>
      <td>8</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Diámetro del tubo/cánula endotraqueal/endobronquial</td>
      <td>2400017</td>
      <td>7081</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Concentración alveolar mínima gas halogenado en VM anestesia</td>
      <td>2400121</td>
      <td>7028</td>
      <td>8</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Presión parcial inspiratoria de anhídrido carbónico al VM anestesia</td>
      <td>2400112</td>
      <td>7022</td>
      <td>8</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Fracción espiratoria de oxígeno del VM anestesia</td>
      <td>2400111</td>
      <td>7005</td>
      <td>8</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Fracción inspiratoria de oxígeno al VM anestesia</td>
      <td>2400110</td>
      <td>6992</td>
      <td>8</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Frecuencia respiratoria actual del paciente en VM anestesia</td>
      <td>2400128</td>
      <td>6875</td>
      <td>8</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Fracción inspiratoria de desflorano al VM anestesia</td>
      <td>2400119</td>
      <td>6771</td>
      <td>8</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Fracción espiratoria de desflorano del VM anestesia</td>
      <td>2400120</td>
      <td>6771</td>
      <td>8</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Presión parcial espiratoria de anhídrido carbónico del VM anestesia</td>
      <td>2400113</td>
      <td>6758</td>
      <td>8</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Volumen corriente pautado en VM anestesia</td>
      <td>2400123</td>
      <td>6738</td>
      <td>8</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Presión pico en VM anestesia</td>
      <td>2400131</td>
      <td>6713</td>
      <td>8</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Modalidad ventilatoria en VM invasiva</td>
      <td>2400136</td>
      <td>6711</td>
      <td>8</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Potencial de hidrogeniones</td>
      <td>2200001</td>
      <td>6690</td>
      <td>8</td>
    </tr>
    <tr>
      <th>49</th>
      <td>PEEP actual medida en VM anestesia</td>
      <td>2400133</td>
      <td>6689</td>
      <td>8</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Presión parcial de O2 por sensor transcutaneo</td>
      <td>2000009</td>
      <td>6688</td>
      <td>8</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Presión meseta en VM anestesia</td>
      <td>2400132</td>
      <td>6685</td>
      <td>8</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Presión parcial de oxígeno</td>
      <td>2200002</td>
      <td>6675</td>
      <td>8</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Calcio iónico</td>
      <td>2200023</td>
      <td>6672</td>
      <td>8</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Potasio</td>
      <td>2200022</td>
      <td>6662</td>
      <td>8</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Volumen corriente espiratorio en VM anestesia</td>
      <td>2400129</td>
      <td>6649</td>
      <td>8</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Bicarbonato actual</td>
      <td>2200004</td>
      <td>6628</td>
      <td>8</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Volumen minuto espiratorio en VM anestesia</td>
      <td>2400130</td>
      <td>6627</td>
      <td>8</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Sistema de humidificación en administración de oxígeno en respiración espontánea</td>
      <td>2400030</td>
      <td>6593</td>
      <td>8</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Exceso de base</td>
      <td>2200005</td>
      <td>6586</td>
      <td>8</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Cloro</td>
      <td>2200024</td>
      <td>6580</td>
      <td>8</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Reflejo fotomotor de la pupila izquierda</td>
      <td>2100009</td>
      <td>6478</td>
      <td>8</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Lactato</td>
      <td>2200029</td>
      <td>6456</td>
      <td>8</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Volumen corriente inspiratorio real en VM invasiva</td>
      <td>2400166</td>
      <td>6392</td>
      <td>8</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Localización del dolor</td>
      <td>2100031</td>
      <td>6289</td>
      <td>8</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Frecuencia respiratoria correspondiente a respiraciones espontáneas en VM invasiva</td>
      <td>2400165</td>
      <td>6161</td>
      <td>8</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Sodio</td>
      <td>2200021</td>
      <td>5902</td>
      <td>8</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Hemoglobina</td>
      <td>2200019</td>
      <td>5786</td>
      <td>8</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Escala de valoración del dolor en pacientes sedados e intubados</td>
      <td>2100028</td>
      <td>5585</td>
      <td>8</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Grado de delirio según escala CAM-ICU</td>
      <td>2100033</td>
      <td>5244</td>
      <td>8</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Volumen corriente inspiratorio pautado en VM invasiva</td>
      <td>2400140</td>
      <td>4640</td>
      <td>8</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Peso</td>
      <td>2100164</td>
      <td>4553</td>
      <td>8</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Frecuencia cardíaca por pulso</td>
      <td>2000020</td>
      <td>4220</td>
      <td>8</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Orificio de inserción del tubo endotraqueal</td>
      <td>2400018</td>
      <td>3327</td>
      <td>8</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Presión soporte/asistida por encima de PEEP en VM invasiva</td>
      <td>2400143</td>
      <td>2668</td>
      <td>8</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Temperatura arteria pulmonar</td>
      <td>2000067</td>
      <td>2402</td>
      <td>8</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Presión parcial de CO2 al final de la espiración por capnografía</td>
      <td>2000013</td>
      <td>2375</td>
      <td>8</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Temperatura esofágica</td>
      <td>2000059</td>
      <td>2372</td>
      <td>8</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Tipo de dispositivo de marcapasos transitorio</td>
      <td>2400266</td>
      <td>1937</td>
      <td>8</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Hematocrito</td>
      <td>2200020</td>
      <td>1919</td>
      <td>8</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Modalidad de marcapasos</td>
      <td>2400267</td>
      <td>1888</td>
      <td>8</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Frecuencia marcapasos programada</td>
      <td>2400268</td>
      <td>1711</td>
      <td>8</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Indicador de batería del marcapasos</td>
      <td>2400271</td>
      <td>1702</td>
      <td>8</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Frecuencia cardíaca por pletismografia</td>
      <td>2000023</td>
      <td>1683</td>
      <td>8</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Umbral de sensado ventricular</td>
      <td>2400269</td>
      <td>1617</td>
      <td>8</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Intensidad de estímulo ventricualr</td>
      <td>2400270</td>
      <td>1610</td>
      <td>8</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Talla</td>
      <td>2100165</td>
      <td>1564</td>
      <td>8</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Escala de Aldrete modificada</td>
      <td>2100151</td>
      <td>1041</td>
      <td>8</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Grado de delirio según escala Nursing Delirium Screaning Scale</td>
      <td>2100034</td>
      <td>935</td>
      <td>8</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Presión de entrada en TCSR</td>
      <td>2400344</td>
      <td>849</td>
      <td>8</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Presión de retorno en TCSR</td>
      <td>2400347</td>
      <td>849</td>
      <td>8</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Intensidad de pulso arteria pedia derecha</td>
      <td>2100094</td>
      <td>819</td>
      <td>8</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Presión transmembrana en TCSR</td>
      <td>2400346</td>
      <td>795</td>
      <td>8</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Escala NIH para valoración del ictus: Puntuación global</td>
      <td>2100037</td>
      <td>783</td>
      <td>8</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Compliancia dinámica torácica en VM invasiva</td>
      <td>2400176</td>
      <td>747</td>
      <td>8</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Intensidad de pulso arteria pedia izquierda</td>
      <td>2100095</td>
      <td>648</td>
      <td>8</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Escala NIH: Paresia facial</td>
      <td>2100043</td>
      <td>644</td>
      <td>8</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Escala NIH: Preguntas verbales</td>
      <td>2100039</td>
      <td>640</td>
      <td>8</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Escala NIH: Lenguaje</td>
      <td>2100050</td>
      <td>639</td>
      <td>8</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Escala NIH: Disartria</td>
      <td>2100051</td>
      <td>638</td>
      <td>8</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Escala NIH: Sensibilidad</td>
      <td>2100049</td>
      <td>637</td>
      <td>8</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Escala NIH: Paresia de extremidades superior I</td>
      <td>2100045</td>
      <td>635</td>
      <td>8</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Escala NIH: Paresia de extremidades inferior I</td>
      <td>2100047</td>
      <td>635</td>
      <td>8</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Escala NIH: Campos visuales</td>
      <td>2100042</td>
      <td>634</td>
      <td>8</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Escala NIH: O?rdenes motoras</td>
      <td>2100040</td>
      <td>633</td>
      <td>8</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Escala NIH: Paresia de extremidades superior D</td>
      <td>2100044</td>
      <td>633</td>
      <td>8</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Escala NIH: Paresia de extremidades inferior D</td>
      <td>2100046</td>
      <td>633</td>
      <td>8</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Escala NIH: Ataxia de las extremidades</td>
      <td>2100048</td>
      <td>630</td>
      <td>8</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Escala NIH: Nivel de conciencia</td>
      <td>2100038</td>
      <td>629</td>
      <td>8</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Escala NIH: Mirada conjugada</td>
      <td>2100041</td>
      <td>628</td>
      <td>8</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Escala NIH: Extincio?n-Negligencia</td>
      <td>2100052</td>
      <td>613</td>
      <td>8</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Flujo de sangre corazón izquierdo</td>
      <td>2400303</td>
      <td>604</td>
      <td>8</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Revoluciones bomba centrífuga corazón izquierdo</td>
      <td>2400302</td>
      <td>517</td>
      <td>8</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Presión de efluente en TCSR</td>
      <td>2400348</td>
      <td>517</td>
      <td>8</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Valoración del grado de bloqueo motor post-anestesia regional</td>
      <td>2100150</td>
      <td>494</td>
      <td>8</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Respiraciones espontáneas en VM no invasiva</td>
      <td>2400076</td>
      <td>488</td>
      <td>8</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Temperatura de humidificación activa</td>
      <td>2400031</td>
      <td>467</td>
      <td>8</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Extracción horaria pautada en TCSR</td>
      <td>2400330</td>
      <td>461</td>
      <td>8</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Volumen corriente espiratorio en VM no invasiva</td>
      <td>2400077</td>
      <td>448</td>
      <td>8</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Grado de dolor en demencia avanzada</td>
      <td>2100027</td>
      <td>441</td>
      <td>8</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Volumen  minuto espiratorio en VM no invasiva</td>
      <td>2400078</td>
      <td>436</td>
      <td>8</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Fracción inspiratoria de oxígeno en VM no invasiva</td>
      <td>2400069</td>
      <td>415</td>
      <td>8</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Fugas de volumen inspiratorio en VM no invasiva</td>
      <td>2400079</td>
      <td>414</td>
      <td>8</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Flujo de la solución dializante en TCSR</td>
      <td>2400324</td>
      <td>395</td>
      <td>8</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Flujo de sangre corazón derecho</td>
      <td>2400301</td>
      <td>394</td>
      <td>8</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Tipo de anticoagulación utilizada en TCSR</td>
      <td>2400332</td>
      <td>390</td>
      <td>8</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Flujo de sangre en TCSR</td>
      <td>2400322</td>
      <td>388</td>
      <td>8</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Modalidad de terapia contínua de sustitución renal</td>
      <td>2400319</td>
      <td>381</td>
      <td>8</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Modalidad ventilatoria no invasiva</td>
      <td>2400068</td>
      <td>373</td>
      <td>8</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Solución dializante en TCSR</td>
      <td>2400323</td>
      <td>372</td>
      <td>8</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Tipo de hemofiltro en TCSR</td>
      <td>2400320</td>
      <td>371</td>
      <td>8</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Presión positiva espiratoria en VM no invasiva</td>
      <td>2400071</td>
      <td>369</td>
      <td>8</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Tipo de dispositivo utillizado para TCSR</td>
      <td>2400318</td>
      <td>356</td>
      <td>8</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Presión positiva inspiratoria en VM no invasiva</td>
      <td>2400070</td>
      <td>344</td>
      <td>8</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Tipo de mascarilla para ventilación no invasiva</td>
      <td>2400067</td>
      <td>342</td>
      <td>8</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Saturación de oxígeno</td>
      <td>2200006</td>
      <td>327</td>
      <td>8</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Tipo de dispositivo de ventilación no invasiva</td>
      <td>2400066</td>
      <td>321</td>
      <td>8</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Modalidad de asistencia circulatoria</td>
      <td>2400299</td>
      <td>319</td>
      <td>8</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Revoluciones bomba centrífuga corazón derecho</td>
      <td>2400300</td>
      <td>316</td>
      <td>8</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Dispositivo utilizado para la asistencia circulatoria</td>
      <td>2400298</td>
      <td>278</td>
      <td>8</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Dosis de calcio en TCSR</td>
      <td>2400340</td>
      <td>269</td>
      <td>8</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Presión balón pneumotaponamiento tras control</td>
      <td>2400022</td>
      <td>256</td>
      <td>8</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Presión parcial de CO2 al final de la espiración por VMI</td>
      <td>2000015</td>
      <td>250</td>
      <td>8</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Dosis de citrato en TCSR</td>
      <td>2400336</td>
      <td>250</td>
      <td>8</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Flujo de sangre</td>
      <td>2400256</td>
      <td>247</td>
      <td>8</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Flujo de la solución de reposición en TCSR</td>
      <td>2400328</td>
      <td>234</td>
      <td>8</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Revoluciones de la bomba centrífuga de sangre</td>
      <td>2400255</td>
      <td>230</td>
      <td>8</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Solución de reposición en TCSR</td>
      <td>2400325</td>
      <td>229</td>
      <td>8</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Lugar de aporte de la solución de reposición en TCSR</td>
      <td>2400329</td>
      <td>228</td>
      <td>8</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Flujo de oxígeno</td>
      <td>2400258</td>
      <td>210</td>
      <td>8</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Temperatura venosa (premembrana al oxigenador)</td>
      <td>2400264</td>
      <td>202</td>
      <td>8</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Temperatura calentador externo en TCSR</td>
      <td>2400343</td>
      <td>193</td>
      <td>8</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Temperatura arterial (postmembrana del oxigenador)</td>
      <td>2400265</td>
      <td>193</td>
      <td>8</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Grado de dolor según escala visual analógica</td>
      <td>2100026</td>
      <td>177</td>
      <td>8</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Temperatura del agua del sistema hipotermia terapéutica</td>
      <td>2400396</td>
      <td>173</td>
      <td>8</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Escala de West-Haven</td>
      <td>2100147</td>
      <td>161</td>
      <td>8</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Saturación de oxígeno venosa antes del oxigenador (premembrana)</td>
      <td>2400315</td>
      <td>136</td>
      <td>8</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Relación pupilar</td>
      <td>2100015</td>
      <td>136</td>
      <td>8</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Solución de calcio en TCSR</td>
      <td>2400338</td>
      <td>136</td>
      <td>8</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Perímetro abominal</td>
      <td>2100070</td>
      <td>129</td>
      <td>8</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Flujo de calcio en TCSR</td>
      <td>2400339</td>
      <td>128</td>
      <td>8</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Temperatura objetivo a alcanzar en hipotermia terapéutica</td>
      <td>2400395</td>
      <td>126</td>
      <td>8</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Temperatura esofágica en hipotermia terapéutica</td>
      <td>2400398</td>
      <td>123</td>
      <td>8</td>
    </tr>
    <tr>
      <th>163</th>
      <td>FiO2 mezclador</td>
      <td>2400309</td>
      <td>113</td>
      <td>8</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Presión venosa  premembrana del módulo oxigenador</td>
      <td>2400312</td>
      <td>111</td>
      <td>8</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Presión arterial postmembrana del módulo oxigenador</td>
      <td>2400314</td>
      <td>110</td>
      <td>8</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Flujo de heparina en TCSR</td>
      <td>2400333</td>
      <td>109</td>
      <td>8</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Solución de citrato en TCSR</td>
      <td>2400334</td>
      <td>109</td>
      <td>8</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Flujo de solución de citrato en TCSR</td>
      <td>2400335</td>
      <td>104</td>
      <td>8</td>
    </tr>
    <tr>
      <th>169</th>
      <td>FiO2 del mezclador</td>
      <td>2400257</td>
      <td>103</td>
      <td>8</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Modalidad de terapia de oxigenación extracorpórea</td>
      <td>2400253</td>
      <td>100</td>
      <td>8</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Grado de encefalopatía hepática (West-Haven)</td>
      <td>2100035</td>
      <td>93</td>
      <td>8</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Temperatura endovascular</td>
      <td>2000068</td>
      <td>91</td>
      <td>8</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Presión venosa central medida por columna de agua</td>
      <td>2000049</td>
      <td>87</td>
      <td>8</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Número de identificación del hemofiltro para TCSR</td>
      <td>2400321</td>
      <td>87</td>
      <td>8</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Dispositivo para la hipotermia terapéutica</td>
      <td>2400393</td>
      <td>87</td>
      <td>8</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Ratio de asistencia de contrapulsación</td>
      <td>2400283</td>
      <td>85</td>
      <td>8</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Fase de enfriamiento / calentamiento</td>
      <td>2400394</td>
      <td>84</td>
      <td>8</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Concentración de óxido nítrico</td>
      <td>2400059</td>
      <td>83</td>
      <td>8</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Potencial de hidrogeniones en orina</td>
      <td>2200051</td>
      <td>82</td>
      <td>8</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Concentración de dioxido de nitrógeno</td>
      <td>2400060</td>
      <td>79</td>
      <td>8</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Fracción inspiratoria de oxígeno en dispositivo de óxido nítrico</td>
      <td>2400061</td>
      <td>78</td>
      <td>8</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Grado de dolor coronario según escala numérica ordinal</td>
      <td>2100055</td>
      <td>78</td>
      <td>8</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Tipo de módulo oxigenador</td>
      <td>2400254</td>
      <td>77</td>
      <td>8</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Intensidad de estímulo auricular</td>
      <td>2400276</td>
      <td>71</td>
      <td>8</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Tipo de balón de contrapulsación</td>
      <td>2400281</td>
      <td>71</td>
      <td>8</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Sincronización de balón de contrapulsación</td>
      <td>2400282</td>
      <td>71</td>
      <td>8</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Modelo de dispositivo para administración de óxido nítrico</td>
      <td>2400058</td>
      <td>70</td>
      <td>8</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Umbral de sensado auricular</td>
      <td>2400275</td>
      <td>70</td>
      <td>8</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Flujo de entrada de aire fresco al VM anestesia</td>
      <td>2400106</td>
      <td>61</td>
      <td>8</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Dispositivo para realizar asistencia respiratoria extracorporea</td>
      <td>2400252</td>
      <td>58</td>
      <td>8</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Tiempo desde inicio respiración hasta alcanzar IPAP</td>
      <td>2400075</td>
      <td>57</td>
      <td>8</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Cálculo de riesgo nutricional (Malnutrition Universal Screening Tool)</td>
      <td>2100149</td>
      <td>53</td>
      <td>8</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Intensidad de pulso arteria poplítea derecha</td>
      <td>2100090</td>
      <td>49</td>
      <td>8</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Temperatura vesical en hipotermia terapéutica</td>
      <td>2400397</td>
      <td>49</td>
      <td>8</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Modelo de dispositivo</td>
      <td>2400304</td>
      <td>48</td>
      <td>8</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Grado de dolor según escala visual categórica</td>
      <td>2100025</td>
      <td>44</td>
      <td>8</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Intensidad de pulso arteria poplítea izquierda</td>
      <td>2100091</td>
      <td>44</td>
      <td>8</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Presión positiva contínua en VM no invasiva</td>
      <td>2400072</td>
      <td>40</td>
      <td>8</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Nivel de sedación según escala de Ramsay</td>
      <td>2100016</td>
      <td>37</td>
      <td>8</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Retraso aurículo-ventricular</td>
      <td>2400277</td>
      <td>37</td>
      <td>8</td>
    </tr>
    <tr>
      <th>201</th>
      <td>KCl extra añadido a solución de reposición en TCSR</td>
      <td>2400326</td>
      <td>37</td>
      <td>8</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Tiempo inspiratorio en VM invasiva</td>
      <td>2400154</td>
      <td>35</td>
      <td>8</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Intensidad de pulso arteria femoral derecha</td>
      <td>2100088</td>
      <td>33</td>
      <td>8</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Intensidad de pulso arteria tibial derecha</td>
      <td>2100092</td>
      <td>30</td>
      <td>8</td>
    </tr>
    <tr>
      <th>205</th>
      <td>coloración extremidad inferior derecha</td>
      <td>2100113</td>
      <td>26</td>
      <td>8</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Presión positiva al final de espiración en VM no invasiva</td>
      <td>2400074</td>
      <td>26</td>
      <td>8</td>
    </tr>
    <tr>
      <th>207</th>
      <td>KCl extra añadido a solución dializante en TCSR</td>
      <td>2400341</td>
      <td>25</td>
      <td>8</td>
    </tr>
    <tr>
      <th>208</th>
      <td>KH2PO4 extra añadido a solución de reposición en TCSR</td>
      <td>2400327</td>
      <td>24</td>
      <td>8</td>
    </tr>
    <tr>
      <th>209</th>
      <td>sensibilidad extremidad inferior derecha</td>
      <td>2100109</td>
      <td>23</td>
      <td>8</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Flujo espiratorio máximo en respiración espontánea</td>
      <td>2100065</td>
      <td>21</td>
      <td>8</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Intensidad de pulso arteria tibial izquierda</td>
      <td>2100093</td>
      <td>21</td>
      <td>8</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Tipo de dispositivo de VM anestesia</td>
      <td>2400104</td>
      <td>19</td>
      <td>8</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Intensidad de pulso arteria radial derecha</td>
      <td>2100086</td>
      <td>19</td>
      <td>8</td>
    </tr>
    <tr>
      <th>214</th>
      <td>coloración extremidad inferior izquierda</td>
      <td>2100114</td>
      <td>19</td>
      <td>8</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Modalidad ventilatoria en VM anestesia</td>
      <td>2400105</td>
      <td>18</td>
      <td>8</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Glucosuria en tira reactiva neonatología</td>
      <td>2200062</td>
      <td>17</td>
      <td>8</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Presión control por encima de PEEP en VM invasiva</td>
      <td>2400142</td>
      <td>17</td>
      <td>8</td>
    </tr>
    <tr>
      <th>218</th>
      <td>sensibilidad extremidad inferior izquierda</td>
      <td>2100110</td>
      <td>15</td>
      <td>8</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Flujo de entrada de oxígeno al VM anestesia</td>
      <td>2400107</td>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th>220</th>
      <td>sensibilidad extremidad superior derecha</td>
      <td>2100107</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>221</th>
      <td>Potencial de hidrogeniones en orina neonatología</td>
      <td>2200061</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Incoordinación toracoabdominal</td>
      <td>2100067</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Uso de musculatura accesoria</td>
      <td>2100068</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Tiempo de llenado capilar</td>
      <td>2100096</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>225</th>
      <td>coloración extremidad superior derecha</td>
      <td>2100111</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Presión arterial no invasiva contínua sistólica</td>
      <td>2000040</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Presión arterial no invasiva contínua media</td>
      <td>2000041</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Presión arterial no invasiva contínua diastólica</td>
      <td>2000042</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>229</th>
      <td>coloración extremidad superior izquierda</td>
      <td>2100112</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Sistema de humidificación para lentillas de alto flujo en neonatología</td>
      <td>2400054</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Fracción inspiratoria de oxígeno en lentillas de alto flujo en neonatología</td>
      <td>2400056</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Temperatura rectal</td>
      <td>2000061</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Dispositivo para la administración de oxígeno en respiración espontánea en neonatología</td>
      <td>2400034</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>234</th>
      <td>Frecuencia cardíaca por auscultación</td>
      <td>2000021</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Intensidad de pulso arteria radial izquierda</td>
      <td>2100087</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Fracción de Carboxihemoglobina</td>
      <td>2200007</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>237</th>
      <td>Fracción inspiratoria de oxígeno en respiración espontánea en neonatología</td>
      <td>2400037</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>238</th>
      <td>Fracción de Metahemoglobina</td>
      <td>2200008</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <th>239</th>
      <td>Intensidad de pulso arteria humeral izquierda</td>
      <td>2100085</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Temperatura cutánea</td>
      <td>2000063</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Hematuria en tira reactiva</td>
      <td>2200053</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Capacidad vital en respiración espontánea</td>
      <td>2100062</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Glucosuria en tira reactiva</td>
      <td>2200052</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Nebulización con oxígeno o con aire</td>
      <td>2400040</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Proteinuria en tira reactiva</td>
      <td>2200054</td>
      <td>1</td>
      <td>8</td>
    </tr>
  </tbody>
</table>